* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eeeeee;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 15px;
}

header {
    background-color: #2b7abd;
    height: 50px;
    display: flex;
    justify-content: center;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    text-decoration: none;
}
header ul li a {
    color: #fff;
    margin-right: 5px;
}
header ul li {
    position: relative;
    display: inline-block;
}
header .table-type {
    display: none;
    position: absolute;
    top: 90%; 
    left: 0;
    width: 270px;
    background-color: none;
    padding: 20px 0;
    z-index: 100;
}
header .table-type table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
header .table-type td {
    border: 1px solid #eeeeee;
    padding: 10px;
    color: #333;
    text-align: left;
}
header .table-type td i {
    margin-right: 5px;
}
header .table-type td:hover {
    background-color: #eeeeee;
}
.table-type li a {
    text-decoration: none !important;
}
header .table-type td a {
    color: #333;
}
header ul li.table-parent:hover .table-type {
    display: block;
}
header ul li:nth-child(5) {
    width: 140px;
    height: 50px;
    background-color: #df1a0c;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li:nth-child(6) {
    display: flex;
    align-items: center;
}
header ul li:nth-child(6) input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    outline: none;
}
header ul li:nth-child(6) i {
    background-color: #e5e6e9;
    height: 40px;
    width: 40px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li:nth-child(7) {
    margin-left: 5px;
    width: 110px;
}
header ul li:nth-child(7) a {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
header ul li:nth-child(7):hover a {
    background-color: #4288c5;
}
header ul li:hover a {
    text-decoration: underline;
}
/*-------Thành viên------*/

.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    padding-top: 50px;
}
.login-box {
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    width: 400px;
    max-height: 550px;
}
.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px; 
    border-bottom: 1px solid #e5e5e5;
}
.login-header h2 {
    font-size: 24px;
    color: #333; 
}
.close-btn {
    cursor: pointer;
    font-size: 20px;
    color: #333; 
}
.input-container {
    margin-bottom: 15px; 
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}
.remember-me {
    margin-bottom: 10px; 
}
.remember-me label {
    font-size: 14px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-btn a{
    color: #fff;
}
.forgot-password {
    display: block;
    margin: 10px 0;
    font-size: 14px; 
    color: #3d90c4; 
    text-align:left; 
    text-decoration: none; 
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.forgot-password:hover {
    text-decoration: underline; 
}
.social-login {
    display: flex;
    justify-content: center;
    padding: 8px;
    width:100%;
}
.social-login button a {
    font-size: 12px;
    color: #ffffff;
}
.social-login button a:nth-child(2) {
    color: #111;
}
.facebook-btn {
    background-color: #3f51b5; 
    color: #ffffff; 
    border: none;
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    margin-right: 10px;
}

.google-btn {
    background-color: #ffffff; 
    color: #4285f4;
    font-weight: bold;
    border: 1px solid #dddddd;
    border-radius: 5px; 
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 15px; 
    cursor: pointer; 
    display: flex;
    align-items: center; 
}
.google-btn a:hover{
    text-decoration: underline;
}
.zalo-btn {
    background-color: #216b9c;
    color: #ffffff; 
    border: none; 
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer; 
    display: flex; 
    align-items: center; 
}
.facebook-btn:hover,
.zalo-btn:hover {
    text-decoration: underline;
}
.social-login i {
    margin-right: 8px; 
    font-size: 16px; 
}
.info-box {
    background-color: #fde1df; 
    color: #7f231c; 
    border: 1px solid #f55246;
    border-radius: 4px; 
    padding: 10px;
    margin-top: 15px; 
    font-size: 14px; 
}
.login {
    margin-top: 15px; 
    text-align: center;
}
.login a {
    color: #2196f3;
    text-decoration: none;
}
.login a:hover {
    text-decoration: underline;
}
/* ----------------section-left-1 */
.content::after {
    content: '';
    clear: both;
    display: table;
}
.content{
    max-width: 1050px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
#full-slider {
    max-width:710px; 
    margin: 20px auto ; 
    padding: 5px;
    
}
/*-------------container Huy---------*/
.containerhuy{
    width: 100%;
}
.containerhuy .breadcrumb {
    padding: 5px;
}
.containerhuy .breadcrumb a {
    color: #595959;
    font-size: 15px;
    text-decoration: none; 
    padding: 0 3px;
}
.containerhuy .breadcrumb i {
    color: #595959;
}
.containerhuy .breadcrumb a:hover {
    text-decoration: underline;
    color: #595959;
}
.containerhuy .boxhuy {
    width: 100%; 
    height: auto;
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(255, 255, 255); 
    box-sizing: border-box;
    padding: 5px;
}
.boxhuy .headBox {
    padding: 5px;
    border-bottom: 1px solid #e5e6e9; 
}
.commnetHeadBox{
    padding: 5px;
    border-bottom: 1px dashed #e5e6e9; 
}
.commnetHeadBox a{
    color: #016eb2;
}

.contenthuy {
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed #e5e6e9; 
}
.left-column img {
    width: 60px; 
    height: 80px; 
    object-fit: cover; 
    margin-right: 10px; 
}
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.contenthuy .right-column a:hover {
    text-decoration: underline;
}
.contenthuy .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.contenthuy .col {
    display: flex;
    align-items: center;
}
.contenthuy .title {
    text-align: left; 
    width: 80%;
}

.contenthuy .tag.full {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 255, 0);
}
.contenthuy .story-label {
    display: inline-block;
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}
.contenthuy .story-label2 {
    display: inline-block;
    background-color: transparent;
    color: #169318;
    border: 1px solid #169318;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}
.mucluc {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
}
  
.mucluc a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
}
  
.mucluc a.active {
    background-color: #2f52b2;
    color: white;
}
.mucluc a:hover:not(.active) {
    background-color: #ddd;
}

/*------------------------------------*/
#right {
    width: 320px;
    margin: 25px 15px;
    
}
.right1 {
    margin: 20px ;
    width: 100%;
    background-color: #fff;
}
.right1 li {
    list-style-type: none;
}
.the-loai{
    margin-left: 10px;
}
.the-loai tr td {
    padding: 3px 0;
    
}
.right1 .the-loai tr:nth-child(-n+2) td i,
.right1 .the-loai tr:nth-child(-n+2) td a {
    color: red; 
}
.the-loai tr a {
    text-decoration: none;
}
.right1 li {
    display: inline; 
}
.right1 li p{
    display: flex;
    justify-items: center;
    padding: 5px;
}
.right1 a{
    color: #444444;
}
.right1 li:first-child {
    display: flex;
    align-items: center; 
    height: 100%;
}
.right1 li a {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 7px;
}

.right1 li a:hover {
    
    text-decoration: underline;
}
.right1 i:hover {
    text-decoration-line: line-through; 
}
/*----------right2--------------*/
.right2{
    margin: 20px ;
    width: 100%;
    background-color: #fff;
}
.review{
    margin-left: 10px;
    padding: 2px;
}
.review li:first-child{
    padding: 5px;
}
.review li:nth-child(n+2) {
    display: flex;
    align-items: center; 
    margin-top: 10px;   
}
.review li img {
    margin-right: 10px;
    width: 70px;
    height: auto;
}

.review li a {
    color: #444444;
    text-decoration: none;
    font-size: 15px;
}
.right2 li a:hover {
    text-decoration: underline;
}
.review li:nth-child(8) {
    display: flex;
    width: 40%; 
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    padding: 8px; 
    border-radius: 20px;  
    margin: 10px auto;  
}
.review li:nth-child(8) a{
    color:#fff;
}

/*----------right3-------------*/
.right3 {
    margin: 20px ;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.top-truyen ul {
    list-style-type: none;
    margin: 0;
}
.top-truyen ul li:nth-child(1){
    border-bottom: 1px dotted #ccc; 
    padding-bottom: 10px;
}
.top-truyen ul li:nth-child(1):hover{
    text-decoration: underline;
    color: #016eb2;
}
.top-truyen ul li:nth-child(n+2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    border-bottom: 1px dotted #ccc; 
    background-color: #fff;
}
.top-truyen ul li:last-child {
    display: flex;
    width: 40%; 
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    border-radius: 20px;  
}

.top-truyen .rank {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px; 
    width: 50px; 
    text-align: center;

}
.top-truyen .info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.top-truyen .info a.title {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.top-truyen .info a.title:hover {
    text-decoration: underline;
}

.top-truyen .info .viewed {
    font-size: 14px;
    color: #777;
    display: flex;
    align-items: center;
}

.top-truyen .info .viewed i {
    margin-right: 5px;

}
.top-truyen li .rank{
    font-weight: 100;
}
.top-truyen .rank {
    width: 40px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.top-truyen li:nth-child(2) .rank {
    
    color: #ff0000;
}

.top-truyen li:nth-child(3) .rank {
    color: #f39c12;
}

.top-truyen li:nth-child(4) .rank {
    color: #e67e22;
}
.top-truyen li:nth-child(5) .rank,
.top-truyen li:nth-child(6) .rank,
.top-truyen li:nth-child(7) .rank,
.top-truyen li:nth-child(8) .rank,
.top-truyen li:nth-child(9) .rank,
.top-truyen li:nth-child(10) .rank,
.top-truyen li:nth-child(11) .rank {
    color: #3498db;
}
.top-truyen li a:hover {
    text-decoration: underline;
}
.top-truyen li:nth-child(12){
    display: flex;
    width: 40%; 
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    padding: 8px; 
    border-radius: 20px;  
    margin: 5px auto;    
}
.top-truyen li:last-child a {
    display: block;
    justify-content: center; 
    align-items: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    /* transition: background-color 0.3s; */
}
/*---------right4-------*/
.right4 {
    margin: 20px ;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}


/*----------footer--------(Dung)*/
footer {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f5f5f5;
    line-height: 1.6;
    margin: 0; 
}
.container-footer {
    width: 70%;
    margin: 0 auto; /* Căn giữa container */
    padding: 20px;
    padding-top: 0; /* Loại bỏ khoảng cách giữa container và phần trên */
}
.top-footer {
    background-color: #111;
    padding:  20px;
    margin-top: 0;  /* Loại bỏ khoảng cách phía trên */
    margin-bottom: 40;  /* Không có khoảng cách phía dưới */
    padding-top: 10px; /* Giảm padding-top để đẩy toàn bộ nội dung lên trên */
}
.top-footer h2 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px; /* Tạo khoảng cách nhỏ giữa tiêu đề và danh sách */
}
.top-links a {
    color: #00aaff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    border-bottom: 2px solid #00aaff;
}
.bottom-footer {
    margin-top: 20px; 
}
.bottom-footer p {
    font-size: 16px;
    margin-bottom: 10px;
}
.bottom-footer a {
    color: #00aaff;
    text-decoration: none;
    border-bottom: 2px solid #00aaff; 
}
.footer-links {
    margin-top: 10px;
}
.footer-links a {
    color: #00aaff;
    margin-right: 10px;
    font-size: 14px;
    border-bottom: 2px solid #00aaff; 
}
.info-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5px;
}
.info-bottom-footer p {
    margin: 0;
    font-size: 16px;
}
.copyright {
    text-align: right;
    white-space: nowrap;
}
.license {
    margin-top: 20px;
}
.dmca {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.dmca a {
    margin-right: 10px;
    border-bottom: none;
}
.dmca .logo {
    width: 90px;
    height: auto;
}
.dmca img:first-child {
    width: 90px;
    height: auto;
}
.dmca .second-logo {
    display: flex;
    align-items: center;
}